services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: archivestream
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

  api:
    build:
      context: ..
      dockerfile: infra/docker/api.Dockerfile
    environment:
      DATABASE_URL: postgres://admin:password@postgres/archivestream
      S3_ENDPOINT: http://minio:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
    depends_on:
      - postgres
      - minio
    ports:
      - "3001:3001"

  crawler:
    build:
      context: ..
      dockerfile: infra/docker/crawler.Dockerfile
    environment:
      DATABASE_URL: postgres://admin:password@postgres/archivestream
      S3_ENDPOINT: http://minio:9000
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
    depends_on:
      - postgres
      - minio

  ui:
    build:
      context: ..
      dockerfile: infra/docker/ui.Dockerfile
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://api:3001

volumes:
  postgres-data:
  minio-data:
