[package]
name = "archive-common"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
serde.workspace = true
chrono.workspace = true
uuid.workspace = true
url.workspace = true
